@import url('https://fonts.googleapis.com/css?family=Karma:300,400,500,600,700');
@import url('normalize.css');



body {
	font-family: 'Karma', serif;
	background-color: hsla(164,50%,95%,1.00)
}
#wrapper{
	max-width:1250px;width: 90%;
	margin: auto;
	background-color: hsla(90,30%,98%,1.00);
}
header {
	background-color: hsla(180,82%,98%,1.00);
	border: 1px solid gray;
	padding: 2em;
}
h1,h2{
	font-weight: 300;
		padding-left: 1em;
}
h3 {
	font-weight: 500;
}
/*
==========--Menu--==========
							*/	
nav {
	margin: 0;
	border-bottom: 2px gray solid;
}
nav ul {
	display: inline-block;
}
nav li {
	float: left;
	list-style: none;
}
nav li a:link {
	display: block;
	text-decoration: none;
	color: black;
	margin-left: 2em;
}
nav li a:visited {
	background: hsla(36,32%,55%,1.00);
	color: hsla(35,52%,13%,1.00);
}
nav li a:hover {
	color: #ed463a;
}
nav li a:active {
	color: hsla(35,92%,3%,1.00);
}
nav a[href*="top"] {
	position: fixed;
	top:1%;
	left: 1%;
	color: gray;
}