/*==========================*	Author: Iakov Golobokov
----------------------------*	Sudent number: A01036539
----------------------------*	Date:   10/3/2018
============================*	Title:	Homework 4
*/
@import url('https://fonts.googleapis.com/css?family=Karma:300,400,500,600,700');
@import url('normalize.css');


body {
	font-family: 'Karma', serif;
	background-color: hsla(164,50%,95%,1.00)
}
#wrapper{
	position: relative;
	min-width: 1008px;
	width: 90%;
	margin: auto;
	background-color: hsla(90,30%,98%,1.00);
	box-shadow: 0px 3px 10px hsla(90,30%,78%,1.00);;
}

header {
	background-color: hsla(180,82%,98%,1.00);
	border-bottom: 1px solid lightgray;
	padding: 2em;
	display: flex;
}
header > div {
	flex:4
} 
header > nav {
		margin-top: .7em;
	border-left: 1px lightgray solid;
	flex:1
} 
header form input{
	width: 125px;
	float: right;

}
header form{
		display: inline;
}
header h1 {
	font-size: 1.5em;
	
}
header h2 {
	padding-left: 2em;
	font-size: 1.3em;

}

/*
==========--Navigation--==========
							*/	
#wrapper > nav {
	position: relative;
	margin: 0;
	border-bottom: 2px hsla(0,0%,88%,1.00) solid;
}
nav ul {
	display: inline-block;
}
nav li {
	float: left;
	list-style: none;
}
nav li a:link {
	display: block;
	text-decoration: none;
	color: black;
	margin-left: 2em;
	transition: .3s ease-out;
}
nav li a:visited {
	background: hsla(36,32%,55%,1.00);
	color: hsla(35,52%,13%,1.00);
}
nav li a:hover {
	color: hsla(164,80%,35%,1.00)
;
}
nav li a:active {
	color: hsla(35,92%,3%,1.00);

}
nav a[href*="top"] {
	position: fixed;
	top:1%;
	left: 1%;
	color: gray;
}
#wrapper > nav > a {
	float: right;
	margin: 1em;
	color: darkgray;
	text-decoration: none;
}

header img[src*="shoping"] {
	display: block;
	position: absolute;
	right: 2em;
	top: 5em;
	width: 25px;
	margin: 0 .3em;
}
header img[src*="search"] {
	float: right;
	width: 20px;
	margin: .2em .3em 0 0;
}


.social-media-icons {
	float: right;
	list-style: none;
    padding: 0;
}

.social-media-icons li {
    display: inline-block;
}

.social-media-icons a {

    background-image: url(../images/social-icons/social-icons.svg);
    background-repeat: no-repeat;
    display: block;
	float: left;
    height: 58px;
	margin-left: 3px;
    transition: all 350ms ease-out;
    width: 50px;
	opacity: 0.5;

}

.social-media-icons a:hover {
    opacity: 1;
}
.twitter {
    background-position: 0 0;
}
.vimeo {
    background-position: -212px -60px;
}

.facebook {
    background-position: -53px 0;
}

/*
==========--Main--==========
							*/	
main {
	padding: 1em; 
}
header{
		display:flex;
}
h1,h2{
	font-weight: 300;
	padding-left: 1em;
}
h3 {
	font-weight: 500;
	font-size: 1.5em;
}
h4 {
	font-weight: 500;
	font-size: 1.3em;
}
main p {
	text-indent: 2em;
	padding: 1em;
} 


main ul {
  display:flex;
  flex-wrap: wrap;  
  flex-direction:row;
	border: 1px solid hsla(0,0%,70%,1.00);
	padding: 0;

}
main ul li {
	box-sizing: border-box;
	list-style: none;
	width: 33.33333333%;
	background-color: hsla(180,22%,78%,1.00);
	padding: 1em;
}

main ul li:nth-child(even){

	background-color:hsla(143,22%,78%,1.00);
}
main ul li:hover {

	background-color: hsla(180,22%,68%,1.00);

}

/*
==========--Form--==========
							*/	
fieldset {
	border: 4px hsla(0,0%,90%,1.00) double;
	margin: 2em;
	font-weight: 500;
}
form fieldset:first-child label {
	display: block;
	margin-top: .8em;
	font-size: .9em;
	font-weight: 400;
}
form fieldset:nth-of-type(2) input {
	margin-bottom: .8em;
}
form fieldset:nth-of-type(2) label {
	font-size: .9em;
	font-weight: 400;
}
form fieldset input[type*="submit"] {
	margin: 1em;
}

/*
==========--table--==========
							*/	
table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th {
	font-weight: 500;
	background-color: hsla(158,62%,77%,1.00);
	   border-bottom: 1px hsla(158,62%,37%,1.00) solid;

}
tr:nth-child(even) {
    background-color: hsla(158,0%,87%,1.00);
}


/*
==========--Footer--==========
							*/	
footer {
	background-color: hsla(180,92%,98%,1.00);
	border-top: 1px solid lightgray;
	padding: 2em;
	overflow: auto;
}
footer p {
	text-align: center;
	float: left;
}
